@page "/alumno/materias/inscripcion/{MateriaId}"

@inherits _BasePage


<div class="container-fluid">
   
    <FormModal Size="" OnClose=@OnClose Visible=@Visible Header="Inscripcion a la materia">
        <header>
            
            <div class="container">
                @if (_materiaInscripcionValida != null) 
                {
                    <div class="text-center">    
                        <span style="font-size:16pt"> 
                            @_materiaInscripcionValida.MATERIA
                        </span>
                    </div>
                }
            </div>                
            
        </header>
       
        <hr/>

        @if (_materiaInscripcionValida != null && _materiaInscripcionValida!.FERRCOD != 2)
        {
            <EditForm Model="@_inscripcion" OnSubmit="@HandleValidSubmit">
                <div class="row ml-3 mr-3">
                    <span style="font-size:14pt">Seleccione el turno de cursada</span>    
                </div>  
                <hr/>   
                <div class="row ml-3 mr-3">               
                    <div class="col">
                            @if (Carrera.Adistancia == "S")  
                            {
                                <span style="font-size:12pt">Al ser a distancia, no puede seleccionar el turno</span>   
                            }
                            
                            <RadzenListBox Disabled=@((_materiaInscripcionValida != null && _materiaInscripcionValida!.FERRCOD == 2) || Carrera.Adistancia == "S") @bind-Value=@_inscripcion.Turno 
                                        Data=@_turnos TextProperty="Name" ValueProperty="Id" Style="height:150px" Class="w-100" />
                        
                    </div>               
                </div>
                <br>
                <div class="row sticky ml-3 mr-3">
                    <div class="btn-toolbar" role="toolbar" style="padding-left: 15px;" >
                        <RadzenButton Disabled=@(_materiaInscripcionValida != null && _materiaInscripcionValida!.FERRCOD == 2) ButtonType="ButtonType.Submit" style="background-color: blue" Icon="save" BusyText="grabando ..." IsBusy=@busy Text="Guardar" />
                        @if(_add == false) 
                        {
                            <RadzenButton Click="@EliminarClick" style="background-color: blue; margin-left: 3px" Icon="delete_forever" BusyText="eliminando..." IsBusy=@busy Text="Eliminar" />    
                        }
                    </div>
                </div>

                <hr/>
                
            </EditForm>
        }  
        @if(_materiaInscripcionValida != null && _materiaInscripcionValida!.FERRCOD == 2) 
        {
                 
                @foreach (var item in _materiaInscripcionValida.FERRWEB!.Split("<br>"))
                {
                    <div class="row ml-3 mr-2">
                    <span style="color:red;font-size:14px">@item</span> 
                    </div>
                }                    
                    
        }
    </FormModal>
</div>

