@page "/alumno/ficha"

@inherits _BasePage

<CarreraSelect OnChange=@carreraOnChange  Carreras=@appSession.Carreras SelectedValue=@_alumnoSelectedId />

<span style="font-size:14pt"><b>Datos Personales de la carrera</b></span>
<br>
<span style="font-size:12px">@_carrera.NombreCarrera</span>
<hr/>

<EditForm Model="@_alumno" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    
    <div class="row sticky">
        <div class="btn-toolbar" role="toolbar" style="padding-left: 15px;" >
            <RadzenButton ButtonType="ButtonType.Submit" style="background-color: blue" Icon="save" BusyText="grabando ..." IsBusy=@busy Text="Guardar" Disabled="@(_carrera.Baja == "S")"/>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-xl-6">
            <div class="row m-2">
                <div class="col-md-4 p-0">Tipo y Numero Documento</div>
                <div class="col-md-4 p-0">
                    <RadzenTextBox Disabled="true" @bind-Value=@_alumno.CodigoAlumno />
                    <small><ValidationMessage For="@(() => _alumno.CodigoAlumno)" /></small>
                </div>
            </div>
            <div class="row m-2">
                <div class="col-md-4 p-0">Apellido</div>
                <div class="col-md-4 p-0">
                    <RadzenTextBox @bind-Value=@_alumno.Apellido Style="width:300px" Disabled=@(!string.IsNullOrEmpty(_alumno.Apellido))/>
                    <small><ValidationMessage For="@(() => _alumno.Apellido)" /></small>
                </div>
            </div>
            <div class="row m-2">
                <div class="col-md-4 p-0">Nombre</div>
                <div class="col-md-4 p-0">
                    <RadzenTextBox Placeholder="" @bind-Value=@_alumno.Nombre Style="width:300px"  Disabled=@(!string.IsNullOrEmpty(_alumno.Nombre))/>
                    <small><ValidationMessage For="@(() => _alumno.Nombre)" /></small>
                </div>

            </div>
            <div class="row m-2">
                <div class="col-md-4 p-0">Sexo</div>
                <div class="col-md-4 p-0">                    
                    <RadzenDropDown @bind-Value=@_alumno.Sexo AllowClear="true" TValue="string" Style="width:200px"  
                                    Data=@_listSexo  TextProperty="descripcion" ValueProperty="id" Disabled=@(!string.IsNullOrEmpty(_alumno.Sexo)) />
                    <small><ValidationMessage For="@(() => _alumno.Sexo)" /></small>
                </div>

            </div>
            <div class="row m-2">
                <div class="col-md-4 p-0">Nacionalidad</div>
                <div class="col-md-4 p-0">
                    <RadzenTextBox Placeholder="" @bind-Value=@_alumno.Nacionalidad Style="width:300px" Disabled=@(!string.IsNullOrEmpty(_alumno.Nacionalidad))/>
                    <small><ValidationMessage For="@(() => _alumno.Nacionalidad)" /></small>
                </div>

            </div>
            <div class="row m-2">
                <div class="col-md-4 p-0">Estado Civil</div>
                <div class="col-md-4 p-0">                    
                    <RadzenDropDown @bind-Value=@_alumno.EstadoCivil AllowClear="true" TValue="string" Style="width:200px"  
                                    Data=@_listEstadoCivil  TextProperty="descripcion" ValueProperty="id" Disabled=@(!string.IsNullOrEmpty(_alumno.EstadoCivil))/>
                    <small><ValidationMessage For="@(() => _alumno.EstadoCivil)" /></small>
                </div>
            </div>
            <div class="row m-2">
                <div class="col-md-4 p-0">Fecha Nacimiento</div>
                <div class="col-md-4 p-0">
                    <RadzenDatePicker @bind-Value=@_alumno.FechaNacimiento DateFormat="d" Disabled=@(_alumno.FechaNacimiento != null)/>
                    <small><ValidationMessage For="@(() => _alumno.FechaNacimiento)" /></small>
                </div>

            </div>
            <div class="row m-2">
                <div class="col-md-4 p-0">Lugar de nacimiento</div>
                <div class="col-md-4 p-0">
                    <RadzenTextBox Placeholder="" @bind-Value=@_alumno.LugarNacimiento Style="width:300px" Disabled=@(!string.IsNullOrEmpty(_alumno.LugarNacimiento))/>
                    <small><ValidationMessage For="@(() => _alumno.LugarNacimiento)" /></small>
                </div>

            </div>
            <div class="row m-2">
                <div class="col-md-4 p-0">Provincia de Nacimiento</div>
                <div class="col-md-4 p-0">
                    <RadzenTextBox Placeholder="" @bind-Value=@_alumno.ProvinciaNacimiento Disabled=@(!string.IsNullOrEmpty(_alumno.ProvinciaNacimiento))/>
                    <small><ValidationMessage For="@(() => _alumno.ProvinciaNacimiento)" /></small>
                </div>

            </div>
            <div class="row m-2">
                <div class="col-md-4 p-0">Domicilio</div>
                <div class="col-md-4 p-0">
                    <RadzenTextBox Placeholder="" @bind-Value=@_alumno.Domicilio Style="width:300px" Disabled=@(!string.IsNullOrEmpty(_alumno.Domicilio))/>
                    <small><ValidationMessage For="@(() => _alumno.Domicilio)" /></small>
                </div>

            </div>
            <div class="row m-2">
                <div class="col-md-4 p-0">Localidad</div>
                <div class="col-md-4 p-0">
                    <RadzenTextBox Placeholder="" @bind-Value=@_alumno.Localidad Style="width:300px" Disabled=@(!string.IsNullOrEmpty(_alumno.Localidad))/>
                    <small><ValidationMessage For="@(() => _alumno.Localidad)" /></small>
                </div>

            </div>
            <div class="row m-2">
                <div class="col-md-4 p-0">Codigo Postal</div>
                <div class="col-md-4 p-0">
                    <RadzenTextBox Placeholder="" @bind-Value=@_alumno.CodigoPostal Style="width:200px" Disabled=@(!string.IsNullOrEmpty(_alumno.CodigoPostal))/>
                    <small><ValidationMessage For="@(() => _alumno.CodigoPostal)" /></small>
                </div>

            </div>
            <div class="row m-2">
                <div class="col-md-4 p-0">Telefono</div>
                <div class="col-md-4 p-0">
                    <RadzenTextBox Placeholder="" @bind-Value=@_alumno.Telefono Style="width:300px" Disabled=@(!string.IsNullOrEmpty(_alumno.Telefono))/>
                    <small><ValidationMessage For="@(() => _alumno.Telefono)" /></small>
                </div>

            </div>
            <div class="row m-2">
                <div class="col-md-4 p-0">Numero de Celular</div>
                <div class="col-md-4 p-0">
                    <RadzenTextBox Placeholder="" @bind-Value=@_alumno.Celular Disabled=@(!string.IsNullOrEmpty(_alumno.Celular))/>
                    <small><ValidationMessage For="@(() => _alumno.Celular)" /></small>
                </div>

            </div>
            <div class="row m-2">
                <div class="col-md-4 p-0">Mail</div>
                <div class="col-md-4 p-0">
                    <RadzenTextBox Placeholder="" @bind-Value=@_alumno.Mail Style="width:300px" Disabled=@(!string.IsNullOrEmpty(_alumno.Mail))/>
                    <small><ValidationMessage For="@(() => _alumno.Mail)" /></small>
                </div>

            </div>            
        </div>
        <div class="col-xl-6">
            <div class="row m-2">
                <div class="col-md-4 p-0">Foto</div>
                <div class="col-md-4 p-0">            
                    <RadzenUpload ChooseText="Subir Imagen" Url="upload/single" Style="background-color:null" 
                                  Progress=@(args => OnProgress(args)) Error=@(args => OnError(args)) Disabled="@(_carrera.Baja == "S")"
                                  />    
                </div>
            </div> 
            <div class="row m-2">
                @if(!string.IsNullOrEmpty(_alumno.FotoBase64))
                {
                   <img src="data:image/png;base64,@_alumno.FotoBase64" Style="width:300px;height:300px"/>
                }
                else 
                {
                   <img src="/img/sin-imagen.png" Style="width:300px;height:300px"/>
                }
            </div>     
        </div>      
    </div>
    <br>
    <br>
    <br>
</EditForm>