@page "/alumno/materias/inscripcionexamen/{MateriaId}"

@inherits _BasePage
@using EsbaBlazorAppAuth.Data

<div class="container-fluid">
    <div class="row mt-2">
        <h2>Permiso de Examen</h2>
    </div>
    <div class="row mt-2">
        @if (_materiaRendir != null) 
        {
            <span> 
                <h4>@_materiaRendir.MATERIA</h4> 
            </span>
        }
    </div>
    <hr/>

    <EditForm Model="@_permiso" OnSubmit="@HandleValidSubmit">    
        @if(_materiaRendir != null && _materiaRendir!.FERRCOD == 2) 
        {
            <div class="row mt-2">
                <span style="color:white;font-size:12px;background-color:red"> 
                    @_materiaRendir.FERRWEB
                </span>     
            </div>
        }
        <div class="row mt-2">
                
            <div class="col"> 
                <RadzenDataGrid @ref="mesasGrid" Data="@_mesas" TItem="MesaExamen" AllowColumnResize="false"
                                >
                    <Columns>   
                    
                        <RadzenDataGridColumn Width="90px" TItem="MesaExamen" Property="MateriaId" Title="Inscripcion" TextAlign="TextAlign.Center">
                            <Template Context="data">             
                                @if(_materiaRendir != null && _materiaRendir.FERRCOD != 2) 
                                {
                                    @if(data.PermisoExamen == null && _mesaInscripto == null) {
                                        <RadzenButton ButtonStyle="ButtonStyle.Secondary" style="" Click=@(() => AsignarMesa(data))>
                                            <span style="color:white;font-size:12px"><i class="fas fa-clipboard-check" style="margin-right:5px"/>Inscribirme</span>
                                        </RadzenButton> 
                                    }
                                    else if(_mesaInscripto != null) { 
                                        <span style="color:green;font-size:12px"><b>Inscripto</b></span>
                                        <RadzenButton ButtonStyle="ButtonStyle.Danger" style="" Click=@(() => QuitarMesa(data))>
                                            <span style="color:white;font-size:12px"><i class="fas fa-trash-alt" style="margin-right:5px"></i>Quitar</span>
                                        </RadzenButton> 
                                    }
                                }
                                @if(_materiaRendir != null && data.MesaId == _materiaRendir.FMESA)
                                {
                                    <span style="color:green;font-size:12px"><b>Inscripto</b></span>   
                                }                            
                            </Template>
                        </RadzenDataGridColumn>      
                                            
                    
                        <RadzenDataGridColumn Width="50px" TItem="MesaExamen" Property="Llamado" Title="Llamado"  />  
                        <RadzenDataGridColumn Width="50px" TItem="MesaExamen" Property="MesaId" Title="Mesa"/>  
                        <RadzenDataGridColumn Width="80px" TItem="MesaExamen" Property="FechaExamen" Title="Fecha">
                            <Template Context="data">             
                                @if (data.FechaExamen != null)  {
                                    @data.FechaExamen.ToString("dd/MM/yyyy")
                                }
                            </Template>
                        </RadzenDataGridColumn>            
                    </Columns>
                </RadzenDataGrid>
            </div>             
        </div>
        <hr/>
        <div class="row mt-2 sticky">
            <div class="btn-toolbar" role="toolbar" style="padding-left: 15px;" >
                <RadzenButton ButtonType="ButtonType.Submit" style="background-color: blue" Icon="save" BusyText="grabando ..." IsBusy=@busy Text="Guardar" />
            </div>
        </div>
       
    </EditForm>   
</div>