@page "/alumno/materias"

@inherits _BasePage

<CarreraSelect OnChange=@carreraOnChange  Carreras=@appSession.Carreras SelectedValue=@_alumnoSelectedId />

<div class="row"> 
    <div class="col"> 
        <span style="font-size:14px"><b>Materias de la carrera</b></span> 
        <br>
        <span style="font-size:12px"><b>@_carrera.NombreCarrera</b></span>
    </div>
    <div class="col text-right">
        @if (_carrera.IdCarrera == "333" || _carrera.IdCarrera == "650")
        {
            <button type="button" @onclick="@(() => {_viewFaltas=true; })" 
                                    class="btn btn-primary pt-1 pb-1 pl-2 pr-2" style="background-color: green">
                                    <i style="color:white;font-size:22px" class="fas fa-tasks"></i>
                                    Inasistencias
            </button>
        }   
    </div>
</div>    
<hr/>
<div class="row"> 
    <div class="col"> 
        <RadzenDataGrid @ref="materiasGrid" Data="@_materiasCursadas" TItem="MateriaCursadaDto" AllowColumnResize="true"
                        CellRender="@CellRender" Width="600px">
            <Columns>  
                <RadzenDataGridColumn Width="50px" TItem="MateriaCursadaDto" Property="cuatrim" TextAlign="TextAlign.Center">
                    <HeaderTemplate>
                        <div class="grid-column-title" style="width: 50px;">
                            <b>Cuat</b>
                        </div>
                    </HeaderTemplate>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn Width="80px" TItem="MateriaCursadaDto" Property="cuatrim" TextAlign="TextAlign.Center">
                    <Template Context="data">
                        @if (data.condicion != "* ADEUDA *" && data.condicion != "EQUIVALENCIA" && data.condicion != "**INSCRIPTO**" )  
                        {  
                            <button type="button" @onclick="@(() => { _infoMateriaId= data.codmat; _infoViewMateria=true; _infoDesMateria=data.descripci; _cuatrimestre=data.cuaanio;})" 
                                class="btn pt-1 pb-1 pl-2 pr-2" style="background-color: green">
                                <i style="color:white;font-size:22px" class="fa-solid fa-eye"></i>
                            </button>
                        }     
                    </Template>    
                </RadzenDataGridColumn>                                  
                <RadzenDataGridColumn Width="90px" TItem="MateriaCursadaDto" Property="inscripcion"  TextAlign="TextAlign.Center">
                    <HeaderTemplate>
                        <div class="grid-column-title" style="width: 90px;">
                           <b>Inscrip<br>cion</b>
                        </div>
                    </HeaderTemplate>
                    <Template Context="data">
                                  
                        @if (_carrera.Baja == "N" && data.inscripcion)  
                        {                       
                            @if (data.condicion != "**INSCRIPTO**") 
                            {

                                <button type="button" @onclick="@(() => { _materiaInscripcion= data.codmat; _inscMateria=true;})" 
                                    class="btn pt-1 pb-1 pl-2 pr-2" style="background-color: black">
                                    <i style="color:white;font-size:22px" class="fas fa-pen"></i>
                                </button>      
                            }
                            else
                            {
                                <button type="button " @onclick="@(() => { _materiaInscripcion= data.codmat; _inscMateria=true;})" 
                                    class="btn pt-1 pb-1 pl-2 pr-2" style="background-color: black">
                                    <i style="color:green;font-size:22px" class="fas fa-check"></i>
                                </button>
                               
                            }
                        }
                        
                    </Template>
                </RadzenDataGridColumn>      
                <RadzenDataGridColumn Width="90px" TItem="MateriaCursadaDto" Property="permiso"  TextAlign="TextAlign.Center">
                    <HeaderTemplate>
                        <div class="grid-column-title" style="width: 90px;">
                            <b>Per<br>miso</b>
                        </div>
                    </HeaderTemplate>
                    <Template Context="data">             
                        @if (_carrera.Baja == "N" && data.permiso)  
                        {  
                            @if(data.tienepermiso)
                            {                         
                                <button type="button" 
                                    @onclick="@(() => {_materiaFinal= data.codmat; _inscFinal=true;})" 
                                    class="btn pt-1 pb-1 pl-2 pr-2" style="background-color: black;">
                                    <i style="color:green;font-size:22px" class="fas fa-check"></i>         
                                </button>
                            }
                            else
                            {
                                <button type="button" 
                                    @onclick="@(() => {_materiaFinal= data.codmat; _inscFinal=true;})" 
                                    class="btn pt-1 pb-1 pl-2 pr-2" style="background-color: black;">
                                    <i style="color:white;font-size:22px" class="fas fa-pen"></i>        
                                </button>    
                            }
                        }
                        
                    </Template>
                </RadzenDataGridColumn>       
                <RadzenDataGridColumn TItem="MateriaCursadaDto" Property="descripci" >
                    <HeaderTemplate>
                        <div class="grid-column-title">
                            <b>Materia</b>
                        </div>
                    </HeaderTemplate>
                    <Template Context="data">               
                        <span style="font-size:15px">@data.descripci</span>                
                    </Template>
                </RadzenDataGridColumn>          
                <RadzenDataGridColumn Width="170px" TItem="MateriaCursadaDto" Property="condicion" TextAlign="TextAlign.Center">  
                    <HeaderTemplate>
                        <div class="grid-column-title" style="width: 170px;">
                            <b>Estado</b>
                        </div>
                    </HeaderTemplate>
                    <Template Context="data">               
                        <span style="font-size:12px;color:@data.htmlfontcolor;"><b>@data.condicion</b></span>                
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn Width="100px" TItem="MateriaCursadaDto" Property="cuaanio" TextAlign="TextAlign.Center">
                     <HeaderTemplate>
                        <div class="grid-column-title" style="width: 100px;">
                            <b>Cuatri<br>Año</b>
                        </div>
                    </HeaderTemplate>
                    <Template Context="data">               
                        <span style="font-size:15px;">@data.cuaanio</span>                
                    </Template>
                </RadzenDataGridColumn>  
                <RadzenDataGridColumn Width="80px" TItem="MateriaCursadaDto" Property="nota" TextAlign="TextAlign.Right" >
                    <HeaderTemplate>
                        <div class="grid-column-title" style="width: 80px;">
                            <b>Nota</b>
                        </div>                       
                    </HeaderTemplate>
                    <Template Context="data">               
                        <span style="font-size:15px;"><b>@String.Format("{0:N2}",data.nota)</b></span>                
                    </Template>
                </RadzenDataGridColumn>  
                <RadzenDataGridColumn Width="120px" TItem="MateriaCursadaDto" Property="fecha">
                    <HeaderTemplate>
                        <div class="grid-column-title" style="width: 100px;">
                            <b>Fecha</b>
                        </div>
                    </HeaderTemplate>
                    <Template Context="data">             
                        @if (data.fecha != null)  {
                            <span style="font-size:15px;"> @data.fecha.Value.ToString("dd/MM/yyyy")</span>
                        }
                    </Template>
                </RadzenDataGridColumn>            
            </Columns>
        </RadzenDataGrid>
    </div>
</div>


@if(_inscFinal)
{   
    <InscripcionFinal MateriaId=@_materiaFinal OnClose=@InscripcionFinalClose Visible=@_inscFinal Carrera=_carrera/>
}
@if(_inscMateria)
{
    <InscripcionMateria MateriaId=@_materiaInscripcion OnClose=@InscripcionMateriaClose Visible=@_inscMateria Carrera=_carrera/>
}
@if(_infoViewMateria)
{
    <InfoMateria MateriaId=@_infoMateriaId MateriaNombre=@_infoDesMateria OnClose=@InfoMateriaClose Visible=@_infoViewMateria Carrera=_carrera CuatrimestreAnio=@_cuatrimestre/>
}
@if(_viewFaltas)
{
    <Inasistencias OnClose=@(() => {_viewFaltas=false;}) Visible=@_viewFaltas Carrera=_carrera CuatrimestreAnio=@_cuatrimestre/>
}