@page "/alumno/materias"

@inherits _BasePage

<div class="row"> 
    <div class="col"> 
        <span style="font-size:20px"><b>Materias de la carrera</b></span>
    </div>
</div>    
<div class="row"> 
    <div class="col">     
        <span style="font-size:20px"><b>@_carrera.Nombre</b></span>
    </div>
</div>
<hr/>
<div class="row"> 
    <div class="col"> 
        <RadzenDataGrid @ref="materiasGrid" Data="@_materiasCursadas" TItem="MateriaCursadaDto" AllowColumnResize="true"
                        CellRender="@CellRender" Width="600px">
            <Columns>   
                <RadzenDataGridColumn Width="50px" TItem="MateriaCursadaDto" Property="cuatrim" Title="Cuat" TextAlign="TextAlign.Center" />                            
                <RadzenDataGridColumn Width="90px" TItem="MateriaCursadaDto" Property="inscripcion" Title="Inscripcion" TextAlign="TextAlign.Center">
                    <Template Context="data">             
                        @if (data.inscripcion)  
                        {                       
                            <button type="button" @onclick="@(() => {
                                _materiaInscripcion= data.codmat; 
                                _inscMateria=true;})" class="btn btn-info">
                                <i style="color:white;font-size:18px" class="fas fa-pen"></i>
                            </button>
                        }
                    </Template>
                </RadzenDataGridColumn>      
                <RadzenDataGridColumn Width="90px" TItem="MateriaCursadaDto" Property="permiso" Title="Permiso" TextAlign="TextAlign.Center">
                    <Template Context="data">             
                        @if (data.permiso)  
                        {                       
                            <button type="button" @onclick="@(() => {_materiaFinal= data.codmat; _inscFinal=true;})" class="btn btn-info">
                                <i style="color:white;font-size:18px" class="fas fa-pen"></i>
                            </button>                
                        }
                    </Template>
                </RadzenDataGridColumn>       
                <RadzenDataGridColumn TItem="MateriaCursadaDto" Property="descripci" Title="Materia">
                    <Template Context="data">               
                        <span style="font-size:15px">@data.descripci</span>                
                    </Template>
                </RadzenDataGridColumn>          
                <RadzenDataGridColumn Width="125px" TItem="MateriaCursadaDto" Property="condicion" Title="Estado" TextAlign="TextAlign.Center">  
                    <Template Context="data">               
                        <span style="font-size:12px;color:@data.htmlfontcolor;"><b>@data.condicion</b></span>                
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn Width="90px" TItem="MateriaCursadaDto" Property="cuaanio" Title="Cuatri/Año"  TextAlign="TextAlign.Center"/>  
                <RadzenDataGridColumn Width="90px" TItem="MateriaCursadaDto" Property="nota" Title="Nota" TextAlign="TextAlign.Right" FormatString="{0:N2}"/>  
                <RadzenDataGridColumn Width="120px" TItem="MateriaCursadaDto" Property="fecha" Title="Fecha">
                    <Template Context="data">             
                        @if (data.fecha != null)  {
                        @data.fecha.Value.ToString("dd/MM/yyyy")
                        }
                    </Template>
                </RadzenDataGridColumn>            
            </Columns>
        </RadzenDataGrid>
    </div>
</div>


<FormModal Visible=_inscFinal OnClose=@(async ()=> {_materiaFinal="";_inscFinal=false; await LoadMaterias(); }) > 
    <InscripcionFinal MateriaId=@_materiaFinal/>
</FormModal> 

<FormModal Visible=_inscMateria OnClose=@(async ()=> {_materiaInscripcion="";_inscMateria=false; await LoadMaterias();}) > 
    <InscripcionMateria MateriaId=@_materiaInscripcion/>
</FormModal> 