

<div class="top-row pl-4 navbar navbar-dark" style="background-color: #26276E">    
    @*<button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>*@
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <div class="text-center">
        <div class="top-row">
            <img style="height:60px" src="/img/esbalogo.webp"/>
        </div>
    </div>
    <hr style="background-color: black;"/>
    <div>
        <ul class="nav flex-column">
            @foreach (MenuOption item in MenuOptions)
            {
                @if(item.SubMenus == null) {
                    <li class="nav-item px-2">
                        <NavLink class="nav-link" href="@item.Href" Match="NavLinkMatch.All">
                        @if (item.Icon != "")
                            {
                                <span style="font-size:12pt" class="@item.Icon principalfontstyles m-2" aria-hidden="true" />
                            } 
                            <span class="principalfontstyles" style="font-size:15pt">@item.Name</span>
                        </NavLink>
                    </li>
                }
                else {
                    <li class="nav-item px-2">
                        <NavLink class="nav-link"
                            @onclick="@(() => { item.Expanded = !item.Expanded; } )">
                            @if (item.Expanded) {
                                <span class="fas fa-angle-down principalfontstyles m-2" aria-hidden="true" /> 
                            }
                            else {
                                <span class="fas fa-angle-right principalfontstyles m-2" aria-hidden="true" />
                            }                                                  
                            <span class="principalfontstyles" style="font-size:15pt">@item.Name</span>                                         
                        </NavLink>
                    </li>    
                    @if (item.Expanded)
                    {
                        @if (item.SubMenus != null) 
                        {                            
                            @foreach (var option in item.SubMenus)
                            {
                                <li class="nav-item px-4 ml-3">
                                <NavLink class="nav-link" href="@option.Href" Match="NavLinkMatch.All">
                                    @if (option.Icon != "")
                                    {
                                        <span style="font-size:12pt" class="@option.Icon principalfontstyles m-2" aria-hidden="true" />
                                    }
                                    <span class="principalfontstyles" style="font-size:15pt">@option.Name</span>
                                </NavLink>
                                </li>
                            }                            
                        }
                    }
                }
            }            
        </ul>
    </div>
</div>

@code {

    private class MenuOption
    {
        public string Name { get; set; } = default!;
        public bool Expanded { get; set; } = false;
        public string Href { get; set; } = default!;
        public string Icon { get; set; } = default!;
        public List<SubMenuOption>? SubMenus { get; set; }
    }
    private class SubMenuOption
    {
        public string Name { get; set; } = default!;
        public string Href { get; set; } = default!;
        public string Icon { get; set; } = default!;
    }

    private List<MenuOption> MenuOptions = new List<MenuOption>();
    private bool collapseNavMenu = false;

    #nullable disable
    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
       // collapseNavMenu = !collapseNavMenu;
    }
    #nullable enable
    protected override async Task OnParametersSetAsync()
    {
        MenuOption menuopt;
        List<SubMenuOption> sub_menu = new List<SubMenuOption>();

        menuopt = new MenuOption()
        {
            Name = "Inicio",
            Expanded = false,
            Href = "",
            Icon = "fas fa-home"
        };

        MenuOptions.Add(menuopt);

        menuopt =  new MenuOption()
        {
            Name = "Datos Personales",
            Expanded = false,
            Href = "/alumno/ficha",
            Icon = "fa-solid fa-id-card"
        };
        MenuOptions.Add(menuopt);

        menuopt =  new MenuOption()
        {
            Name = "Materias",
            Expanded = false,
            Href = "/alumno/materias",
            Icon = "fa-solid fa-file-certificate"
        };
        MenuOptions.Add(menuopt);

        /*menuopt =  new MenuOption()
        {
            Name = "Submenu",
            Expanded = false,
            Href = "",
            Icon = "fas fa-globe",            
        };

        sub_menu = new List<SubMenuOption>();
        sub_menu.Add(new SubMenuOption() {Name="Opcion1", Icon="fas fa-globe", Href = "#"});
        sub_menu.Add(new SubMenuOption() {Name="Opcion2", Icon="fas fa-globe", Href = "#"});
        sub_menu.Add(new SubMenuOption() {Name="Opcion3", Icon="fas fa-globe", Href = "#"});
        MenuOptions.Add(new MenuOption()
        {
            Name = "Submenu",
            Expanded = false,
            Href = "",
            Icon = "fas fa-globe",
            SubMenus = sub_menu
        });

        sub_menu = new List<SubMenuOption>();
        menuopt =  new MenuOption()
        {
            Name = "Menu 3",
            Expanded = false,
            Href = "",
            Icon = "fas fa-globe",            
        };    */
    }

}
